html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
}

/* index */

.main_container{
    display: block;
    width:100%;
}

.header_container{

    width:100%;
    border:1px solid white;
    display:flex;
}

.index_content{
    
    width:100%;
    border:1px solid white;
    background-color: white;
}

.footer_container{
    width:100%;
    border:1px solid white;
    padding-top: 20px;
}

/* header */

.main_logo_container{
    width:20%;
    border:1px solid white;
}

.navigation_pane_container{
    width:74%;
    display:flex;
    border:1px solid white;
}

.navigation_icon_container{
    width:10%;
    padding-top:30px;
    padding-bottom:30px;
    display: flex;
    border:1px solid white;
}

.giftshop_logo{
    width:250px;
    margin-left:15px;
}

.navigation_pane{
    width:50%;
    padding-top:30px;
    padding-bottom:30px;
}

.searchbox_container{
    width:50%;
    padding-top:30px;
    display: flex;
    border:1px solid white;
}

.navigation_link{
    text-decoration: none;
    color:coral;
    font-weight: 600;
    font-size: 30px;
    padding-right: 15px;
}

.navigation_icon{
    width:40px;
    padding-right: 0px;
}

.icon_container{
    width:50%;
    padding-right:30px;
    text-align: right;
    border:1px solid white;
}

.searchbox_box_container{
    width:85%;
    border:1px solid white;
    text-align: right;
}

.search_icon_container{
    width:15%;
    border:1px solid white;
}



.searchbox{
    width: 70%;
    border: 3px solid coral;
    
    padding: 4px;
    height: 40px;
    border-radius: 8px 8px 8px 8px;
    outline: none;
    color: #9DBFAF;
    margin:0;
    font-size: 20px;
}

.searchButton1{
    background-color: white;
    border: none;
    outline: none;
}
.searchButton2 {
    width: 33px;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  .main_image{
    width:100%;
    transition: 0.3s;
  }

  /* footer */

  .footer_pane1{
    width:100%;
    border:1px solid white;
  }

  .footer_pane2{
    border:1px solid white;
    background-color:darkorange;
    width:100%;
    color:white;
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 18px;
  }

  .footer_links_container{
    border:1px solid white;
    width:100%;
    display: flex;
  }

  .footer_socialmedia_container{
    border:1px solid white;
    width:100%;
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
  }

  .footer_address_container{
    width:34%;
    border:1px solid white;
  }

  .footer_links_block{
    width:22%;
    border:1px solid white;
  }

  .footer_links_block_header{
    font-size: 24px;
    font-weight: 600;
    color:coral;
    margin-left: 100px;
    margin-bottom:40px;
  }

  .footer_navigation_link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color:coral;
    margin-left: 100px;
  }

  .navigation_icon2{
    width:40px;
    margin:10px 20px 10px 20px;
  }

  /* register */
  .register_container{
    width:100%;
    padding-top:80px;
    padding-bottom:120px;
    background-color: white;
  }

  .register_form{
    width:60%;
    margin-left:20%;
    margin-right: 20%;
    background-color:floralwhite;
    border-radius: 14px;
    border:4px solid antiquewhite;
  }

  .register_heading_container{
    padding-top:42px;
    padding-bottom: 24px;
    font-size:20px;
    color:black;
    text-align: center;
  }

  .register_field_container{
    padding:10px 50px 10px 50px;
  }

  .register_tabs_container{
    padding:18px 50px 50px 50px;
    text-align: center;
  }

  .register_form_row{
    display:flex;
  }

  .register_form_column{
    width:50%;
    padding-top:8px;
    padding-bottom:10px;
    padding-left:25px;
  }

  .register_field_label{
    width: 100%;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    
  }

  .register_field{
    width:80%;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    font-size:17px;
    border:1px solid grey;

  }

  .register_button{
    border-radius:2px;
    font-size:15px;
    padding:8px 20px 8px 20px;
    background-color:antiquewhite;
    border:1px solid grey;

  }

.register_to_login{
  padding-top:30px;
  font-size:18px;
}
  


  




